*.dep 
*.aps 
*.vbw 
*.suo 
*.obj 
*.plg 
*.bsc 
*.ilk 
*.exp 
*.sbr 
*.opt 
*.pdb 
*.idb 
*.pch 
*.res 
*.user
*\obj
*\bin
*\Debug
*\Release
*\Resharp*
*\_ReSharp*
Thumbs.db
*.ncb
*.suo
*.cache
*\TestResults
packages/*
*.nupkg
build/